In [1]:
# no1 int 
# Name String

In [2]:
x  =50
print (type (x))

<class 'int'>

In [3]:
x  =50.85
print (type (x))

<class 'float'>

In [4]:
x  ='Sunday'
print (type (x))

<class 'str'>

In [5]:
x  ='Sunday@*#2024'
print (type (x))

<class 'str'>

In [6]:
x = True
print (type (x))

<class 'bool'>

In [7]:
x = False
print (type (x))

<class 'bool'>

In [8]:
x = false
print (type (x))

NameError: name 'false' is not defined

In [9]:
x = "Yy"
print (type (x))

<class 'str'>

In [10]:
x = "false"
print (type (x))

<class 'str'>

In [12]:
x = 10+5j
print (x)
print (type (x))

(10+5j)
<class 'complex'>

In [13]:
False

False

In [14]:
True

True

In [15]:
age1 = 45
age2 =37

In [17]:
age = [45,37,31,52]
print (type (age))
print (age)

<class 'list'>
[45, 37, 31, 52]

In [18]:
age [2]

31

In [19]:
age [-2]

31

In [20]:
age = [45,37,31,52, False , 'Sunday', 56.78]
print (type (age))
print (age)

<class 'list'>
[45, 37, 31, 52, False, 'Sunday', 56.78]

In [21]:
age [1:5]

[37, 31, 52, False]

In [22]:
age = [45,37,31,52]
print (type (age))

<class 'list'>

In [23]:
tage = (45,37,31,52)
print (type (tage))

<class 'tuple'>

In [24]:
age

[45, 37, 31, 52]

In [26]:
age[1] =555

In [27]:
age

[45, 555, 31, 52]

In [28]:
tage

(45, 37, 31, 52)

In [29]:
tage[1]

37

In [30]:
tage[1] =555
tage

TypeError: 'tuple' object does not support item assignment

In [31]:
for i in range (5):
    print (i)

0
1
2
3
4

In [32]:
for i in range (10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [33]:
for i in range (-5):
    print (i)

In [34]:
for i in range (0,-5,-1):
    print (i)

0
-1
-2
-3
-4

In [35]:
for i in range (10,20):
    print (i)

10
11
12
13
14
15
16
17
18
19

In [36]:
for i in range (10,100,10):
    print (i)

10
20
30
40
50
60
70
80
90

In [38]:
for i in range (10,101,10):
    print (i)

10
20
30
40
50
60
70
80
90
100

In [39]:
l1 = [10,20,30,20,30,40,20,30,50]
print (l1)

[10, 20, 30, 20, 30, 40, 20, 30, 50]

In [40]:
t1= (10,20,30,20,30,40,20,30,50)
print (t1)

(10, 20, 30, 20, 30, 40, 20, 30, 50)

In [41]:
s1= {10,20,30,20,30,40,20,30,50}
print (s1)

{50, 20, 40, 10, 30}

In [42]:
s1.add (70)
print (s1)

{50, 20, 70, 40, 10, 30}

In [43]:
fs1 = frozenset (s1)
print (fs1)

frozenset({50, 20, 70, 40, 10, 30})

In [44]:
type (fs1)

frozenset

In [45]:
emp = {'Name': 'Sam', 'Age':50, 'Salary':5000}
print (type (emp))

<class 'dict'>

In [46]:
emp ['Age']

50

In [47]:
emp ['Salary']

5000

In [48]:
x = 89.96
print (x)

89.96

In [49]:
x = 89.96
print (x)
int (x)

89.96

89

In [50]:
x = 89.96
print (x)
bool (x)

89.96

True

In [51]:
x =50.5
print (x)
bool (x)

50.5

True

In [52]:
x =0
print (x)
bool (x)

0

False

In [53]:
x =0.0000000000001
print (x)
bool (x)

1e-13

True

In [54]:
x =0.000000000000
print (x)
bool (x)

0.0

False

In [55]:
x =50.5
print (x)
int(x)

50.5

50

In [56]:
l1 = [10,20,30,20,30]
tuple (l1)

(10, 20, 30, 20, 30)

In [57]:
set (l1)

{10, 20, 30}

In [58]:
a =50
b =20
c = a+b
print (c)

70

In [59]:
a =50
b =20
c = a-b
print (c)

30

In [60]:
a =50
b =20
c = b-a
print (c)

-30

In [61]:
a =50
b =20
c = a*b
print (c)

1000

In [62]:
a =50
b =20
c = a/b
print (c)

2.5

In [63]:
50 %20

10

In [64]:
50 // 20

2

In [65]:
38//10

3

In [66]:
38 %10

8

In [67]:
2 *2*2*2 *2*2*2 *2*2*2

1024

In [68]:
2**10

1024

In [69]:
a =50
b =20
a= a+b
print (a)

70

In [70]:
a =50
b =20
a+=b
print (a)

70

In [71]:
a =50
b =20
a-=b
print (a)

30

In [72]:
a =50
b =20
b-=a
print (b)

-30

In [73]:
a =50
b =20
a*=b
print (a)

1000

In [74]:
a =50
b =20
a/=b
print (a)

2.5

In [75]:
a =50
b =20
a//=b
print (a)

2

In [76]:
a =50
b =20
a %=b
print (a)

10

In [77]:
a =50
b =20
a **=b
print (a)

9536743164062500000000000000000000

In [78]:
a = 500
b = 500
print (a==b)

True

In [79]:
a = 500
b = 400
print (a==b)

False

In [80]:
a = 500
b = 400
print (a!=b)

True

In [81]:
a = 500
b = 500
print (a<b)

False

In [82]:
a = 500
b = 500
print (a<=b)

True

In [84]:
a = 500
b = 200
c = 300
print (a >b)
print (b>c)

True
False

In [85]:
print ((a >b) and (b>c))

False

In [86]:
print ((a >b) or (b>c))

True

In [87]:
print (not((a >b) or (b>c)))

False

In [88]:
a  =500
b = 500
c =a
print (a,b,c)

500 500 500

In [90]:
print (a is b)
print (a is c)

False
True

In [91]:
print (id(a), id (b), id (c))

1915398679088 1915398679440 1915398679088

In [92]:
a = 256
b = 256
print (a is b)
print ( id(a))
print ( id(b))

True
1915285825936
1915285825936

In [93]:
a = 257
b = 257
print (a is b)
print ( id(a))
print ( id(b))

False
1915398679504
1915398679408

In [99]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print (id(x), id (y), id (z))

1915398505216 1915398523712 1915398505216

In [100]:
x.append ('Orange')
print (x)
print (y)
print (z)

['apple', 'banana', 'Orange']
['apple', 'banana']
['apple', 'banana', 'Orange']

In [101]:
print (id(x), id (y), id (z))

1915398505216 1915398523712 1915398505216

In [102]:
l1 = [10,20,30,20,30]
print (20 in l1)

True

In [103]:
print (20 not in l1)

False

In [104]:
l1 = [10,20,30,20,30]
print (35 in l1)

False