In [1]:
a = 300
b = 200
if a>b:
    print (a)
    print ( a, 'is greater than',b)

300
300 is greater than 200

In [2]:
a = 300
b = 400
if a>b:
    print (a)
    print ( a, 'is greater than',b)

In [3]:
a = 500
b = 500
if a>=b:
    print (a)
    print ( a, 'is greater than or Equal',b)

500
500 is greater than or Equal 500

In [4]:
a = 500
b = 500
if a>=b:
    print (a)
    print ( a, 'is greater than or Equal',b)
if b>=a:
    print (b)
    print ( b, 'is greater than or Equal',a)

500
500 is greater than or Equal 500
500
500 is greater than or Equal 500

In [6]:
a = 500
b = 500
if a>=b:
    print (a)
    print ( a, 'is greater than or Equal',b)
if b>=a:
    print (b)
    print ( b, 'is greater than or Equal',a)
if a ==b:
    print (a, b)
    print ( a, 'is same as ',b)

500
500 is greater than or Equal 500
500
500 is greater than or Equal 500
500 500
500 is same as  500

In [7]:
a = 500
b = 500
if a>=b:
    print (a)
    print ( a, 'is greater than or Equal',b)
elif b>=a:
    print (b)
    print ( b, 'is greater than or Equal',a)
elif a ==b:
    print (a, b)
    print ( a, 'is same as ',b)

500
500 is greater than or Equal 500

In [8]:
a =300
if a <100:
    print (a,'Less than 100')
elif (100<= a <=200):
    print (a,'is between 100 and 200')
else:
    print (a,'Greater than 200')

300 Greater than 200

In [9]:
a =50
if a <100:
    print (a,'Less than 100')
elif (100<= a <=200):
    print (a,'is between 100 and 200')
else:
    print (a,'Greater than 200')

50 Less than 100

In [10]:
a =40
if a <100:
    print (a,'Less than 100')
    if (50<= a <=100):
        print (a,'is between 50 and 100')
    elif (20<= a <=50):
        print (a,'is between 20 and 50')
    else:
        print (a,'is less than 20')
               
elif (20<= a <=200):
    print (a,'is between 50 and 200')
else:
    print (a,'Greater than 200')

40 Less than 100
40 is between 20 and 50

In [11]:
Day = 'Sat'
a =50
if a <100:
    print (a,'Less than 100')
elif (100<= a <=200):
    print (a,'is between 100 and 200')
else:
    print (a,'Greater than 200')
a = 50
b = 70
x = a+b 
print (x)
print ('Today is ',Day)

50 Less than 100
120
Today is  Sat

In [12]:
a =40
if a <100:
    print (a,'Less than 100')
    if (50<= a <=100):
        print (a,'is between 50 and 100')
    elif (20<= a <=50):
        print (a,'is between 20 and 50')
    else:
        print (a,'is less than 20')               
elif (20<= a <=200):
    print (a,'is between 50 and 200')
else:
    print (a,'Greater than 200')

40 Less than 100
40 is between 20 and 50

In [13]:
a =500
if a <100:
    print (a,'Less than 100')
    if (50<= a <=100):
        print (a,'is between 50 and 100')
    elif (20<= a <=50):
        print (a,'is between 20 and 50')
    else:
        print (a,'is less than 20')               
elif (20<= a <=200):
    print (a,'is between 50 and 200')
else:
    print (a,'Greater than 200')

500 Greater than 200

In [14]:
a =75
if a <100:
    print (a,'Less than 100')
    if (50<= a <=100):
        print (a,'is between 50 and 100')
    elif (20<= a <=50):
        print (a,'is between 20 and 50')
    else:
        print (a,'is less than 20')               
elif (20<= a <=200):
    print (a,'is between 50 and 200')
else:
    print (a,'Greater than 200')

75 Less than 100
75 is between 50 and 100

In [17]:
a =75
if a <100:
    print (a,'Less than 100')
    if (50<= a <=100):
        print (a,'is between 50 and 100')
    elif (20<= a <=50):
        print (a,'is between 20 and 50')
    else:
        print (a,'is less than 20')               
elif (20<= a <=200):
    print (a,'is between 50 and 200')
else:
    print (a,'Greater than 200')

75 Less than 100
75 is between 50 and 100

In [18]:
a = 150
b = 200
if a<b:
    print (a,'is smaller than',b)
    if 10 <= a <=100:
        print (a,'is between 10 and 100')
    elif a<10:
        print (a,'is less than 10')
    
else:
    print (a,'is bigger number than',b)

150 is smaller than 200

In [19]:
# For  - Fixed number of times  -Add 5 numbers
# While  - Execute based condition - As long as condition true - Add numbers till sum reaches 100

In [20]:
no1 = input ('Enter the first number ')
no2 = input ('Enter the Second number ')
total =  no1+no2
print (total )

Enter the first number 50
Enter the Second number 60
5060

In [21]:
no1 = input ('Enter the first number ')
no2 = input ('Enter the Second number ')
total =  int (no1)+ int (no2)
print (total )

Enter the first number 50
Enter the Second number 60
110

In [22]:
print (type (no1))

<class 'str'>

In [23]:
for i in range (5):
    print (i)

0
1
2
3
4

In [26]:
total =0
for i in range (5):
    no = int (input ('Enter the number '))
    total = total +no
print ('Sum of 5 numbers is ', total )

Enter the number 50
Enter the number 60
Enter the number 70
Enter the number 20
Enter the number 5
Sum of 5 numbers is  205

In [27]:
total =0
for i in range (5):
    no = int (input ('Enter the number '))
    total = total +no
print ('Sum of 5 numbers is ', total )

Enter the number 3
Enter the number 2
Enter the number 1
Enter the number 3
Enter the number 2
Sum of 5 numbers is  11

In [28]:
total =0
while total < 100:
    no = int (input ('Enter the number '))
    total = total +no
print ('Sum of 5 numbers is ', total )

Enter the number 52
Enter the number 60
Sum of 5 numbers is  112

In [29]:
total =0
while total < 100:
    no = int (input ('Enter the number '))
    total = total +no
print ('Sum of 5 numbers is ', total )

Enter the number 10
Enter the number 1
Enter the number 3
Enter the number 53
Enter the number 6
Enter the number 3
Enter the number 2
Enter the number 4
Enter the number 3
Enter the number 5
Enter the number 10
Sum of 5 numbers is  100

In [30]:
a =1
while a <5:
    print ( 'The number is ',a)
    a+=1
print ('Program end')

The number is  1
The number is  2
The number is  3
The number is  4
Program end

In [31]:
a =1
while a <10:
    print ( 'The number is ',a)
    a+=1
print ('Program end')

The number is  1
The number is  2
The number is  3
The number is  4
The number is  5
The number is  6
The number is  7
The number is  8
The number is  9
Program end

In [32]:
a =1
while a <10:
    print ( 'The number is ',a)
    a+=3
print ('Program end')

The number is  1
The number is  4
The number is  7
Program end

In [33]:

A = [10,15,20,25]
for i in range (len(A)):
    print (i)
print ('Good Day')

0
1
2
3
Good Day

In [34]:

A = [10,15,20,25]
for i in A:
    print (i)
print ('Good Day')

10
15
20
25
Good Day

In [36]:
for i in range (10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [37]:
'Sat '*3

'Sat Sat Sat '

In [39]:
str (4) *4

'4444'

In [40]:
str (0) *0

''

In [35]:
for i in range (10):
    print (str(i)*i)
    
print ('Good Day')

1
22
333
4444
55555
666666
7777777
88888888
999999999
Good Day

In [41]:
for i in range (10):
    print ((i)*i)
    
print ('Good Day')

0
1
4
9
16
25
36
49
64
81
Good Day

In [43]:
A =  ['Pen','Pencil','Book','Toy']
for i in A:
    print (i)

Pen
Pencil
Book
Toy

In [42]:
A =  ['Pen','Pencil','Book','Toy']
B = ['School', 'College']
for i in A:
    print (i)
    for j in B:
        print('   ',j)

Pen
    School
    College
Pencil
    School
    College
Book
    School
    College
Toy
    School
    College

In [44]:
A =  ['Pen','Pencil','Book','Toy']
B = ['School', 'College']
for i in A:
    print (i)
    for j in B:
        print('   ',j)
        print('   ',j)

Pen
    School
    School
    College
    College
Pencil
    School
    School
    College
    College
Book
    School
    School
    College
    College
Toy
    School
    School
    College
    College

In [45]:
A =  ['Pen','Pencil','Book','Toy']
B = ['School', 'College']
for i in A:
    print (i)
    for j in B:
        print('   ',j)
        continue
        print('   ',j)

Pen
    School
    College
Pencil
    School
    College
Book
    School
    College
Toy
    School
    College

In [46]:
A =  ['Pen','Pencil','Book','Toy']
B = ['School', 'College']
for i in A:
    print (i)
    for j in B:
        print('   ',j)
        break
        print('   ',j)

Pen
    School
Pencil
    School
Book
    School
Toy
    School

In [47]:
A =  ['Pen','Pencil','Book','Toy']
B = ['School', 'College']
for i in A:
    print (i)
    continue
    for j in B:
        print('   ',j)        
        print('   ',j)

Pen
Pencil
Book
Toy

In [48]:
A =  ['Pen','Pencil','Book','Toy']
B = ['School', 'College']
for i in A:
    print (i)
    break
    for j in B:
        print('   ',j)        
        print('   ',j)

Pen

In [49]:
def sales ():
    qty =10
    price =50
    amt = qty * price
    print (amt)

In [50]:
sales ()

500

In [51]:
sales ()

500

In [52]:
sales()

500

In [54]:
def sales (qty):
    price =50
    amt = qty * price
    print (amt)

In [56]:
sales(10)

500

In [57]:
sales(5)

250

In [ ]:
def sales (qty):
    price =50
    amt = qty * price
    print (amt)

In [58]:
def sales (qty,price):
    amt = qty * price
    print (amt)

In [60]:
sales(5,50)

250

In [61]:
sales (3,300)

900

In [63]:
def sales (qty =10,price=50):
    amt = qty * price
    print (amt)

In [64]:
sales ()

500

In [66]:
def sales (qty =10,price=50):
    amt = qty * price
    print (amt)

In [67]:
sales (5)

250

In [68]:
sales (100)

5000

In [69]:
def sales (qty =10,price=50):
    amt = qty * price
    print (amt)

In [70]:
sales (price =100)

1000

In [71]:
def sales (qty =10,price=50):
    amt = qty * price
    print (amt)

In [72]:
sales ()

500

In [73]:
sales (20)

1000

In [74]:
s1 = sales ()
print (s1)

500
None

In [75]:
s2 = sales (5,30)
print (s2)

150
None

In [76]:
def sales (qty =10,price=50):
    amt = qty * price
    print (amt)
    return (amt)

In [77]:
s2 = sales (5,30)
print (s2)

150
150

In [78]:
s1 = sales ()
print (s1)

500
500

In [79]:
print (s2)

150

In [80]:
def sales (qty =10,price=50):
    amt = qty * price
    print (amt)
    return (amt)

In [81]:
sls = []
sls.append (sales ())
print (sls)

500
[500]

In [82]:

sls.append (sales (5,20))
print (sls)

100
[500, 100]

In [83]:
print (sls)

[500, 100]

In [84]:

def financials (revenue,expenses):
    """ This function is used to calculate profit and profit ratio"""
    profit = revenue -expenses
    profit_ratio = profit/revenue 
    new_financials = (profit ,profit_ratio)
    return (new_financials)

In [85]:
financials (1000,900)

(100, 0.1)

In [86]:

def financials (revenue,expenses):
    """ This function is used to calculate profit and profit ratio"""
    profit = revenue -expenses
    profit_ratio = profit/revenue 
    new_financials = (profit ,profit_ratio)
    return (new_financials)

In [87]:
x = financials (1000,900)
x

(100, 0.1)

In [88]:
x = financials (1000,900)
print ('Profit ', x[0] )
print ('Profit Ratio ', x[1] )

Profit  100
Profit Ratio  0.1

In [89]:
def convertto (deg):
    F= (deg*9/5)+32
    return (F)

In [90]:
convertto (40)

104.0

In [91]:
convertto (28)

82.4

In [92]:
temp = 38
temp= convertto (temp)
print (temp)

100.4